body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0d0d0d 0%, #1c1c1c 100%);
}

.header {
    background: linear-gradient(135deg, rgb(255, 110, 90), #000000);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navcontainer {
    background-color: teal; /* Navbar color */
	/* border-radius: 10px; */
    padding: 10px;
    text-align: center;
}

.nav-links a {
    background-color: teal;
  	border-radius: 5px;
  	color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #F31D00; /* Hover effect for navbar links */
}

main {
	background: linear-gradient(135deg, #0d0d0d 0%, #1c1c1c 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.register-box {
    background: linear-gradient(135deg, rgb(255, 110, 90), #000000);
    padding: 30px;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"], 
input[type="text"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    background-color: #ea412a; /* Button color */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.New{
    margin: 10px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
.alink{
    text-decoration: none;
    color: rgb(255, 110, 90);
}
.btn:hover {
    background-color: #F31D00; /* Hover effect for buttons */
}

footer {
    background: linear-gradient(135deg, #0d0d0d 0%, #1c1c1c 100%);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100vh;
    margin: auto;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ababab;
}